@import "./components/Header.scss";
@import "../index.css";
@import "../style/pages/Home.scss";
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1 1 auto;
}
// .card__main
@media only screen and (max-width: 1520px) {
    .slide__btn {
        display: none;
    }
    .card__main {
        width: 950px;
    }
    .fd__bg {
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 1222px) {
    .card__main .card {
        margin-left: 0px;
    }
    .empty__cart {
        padding: 0 10px;
        img {
            width: 300px;
        }
    }
    .card__main {
        width: 100%;
        justify-content: space-between;
    }
    .header {
        flex-wrap: wrap;
        li {
            margin-left: 50px;
        }
    }
    .container {
        padding: 0px 70px;
    }
    .line {
        width: 180px;
    }
    .cart__title {
        max-width: 200px;
    }
    footer {
        padding: 0px 70px;
    }
}
@media only screen and (max-width: 885px) {
    .cart-dropdown {
        right: 120px;
    }
    .header {
        li {
            margin-left: 30px;
        }
    }
    .line {
        width: 60px !important;
    }
    .subtotal {
        flex-wrap: wrap;
        padding: 0 1px !important;
    }
    .price__delivery {
        padding: 0 10px !important;
    }
    footer {
        padding: 0px 40px;
    }
    .empty__cart {
        padding: 0 10px;
    }
    .contact__card {
        height: 250px !important;
        width: 300px !important;
        margin-top: 20px;
        margin-right: 20px;
    }
    .contact__cards {
        flex-wrap: wrap;
    }
    .cart__title {
        margin-left: 10px !important;
        font-size: 18px !important;
    }
}
//tablet

@media only screen and (max-width: 768px) {
    .header {
        li {
            margin-left: 35px;
        }
    }
    .container {
        padding: 0px 12px;
    }
    .nav__links {
        display: none;
        .cart__icon {
            display: block !important;
        }
    }
    .burger__menu {
        display: block !important;
    }
    .right__nav {
        display: flex;
    }
    footer.footer__nav p {
        margin-right: 25px !important;
        font-size: 14px;
    }
    footer {
        padding: 0px 30px;
    }
    .feature__subtitle {
        display: none !important;
    }
    .cart__flex {
        .container {
            display: block !important;
        }
    }
    .all__carts {
        width: 100%;
        .cart {
            padding-left: 2px !important;
        }
        .carts {
            margin-left: 9px !important;
        }
        .cart__details {
            h5 {
                width: 140px !important;
            }
        }
        .counter {
            left: 140px !important;
        }
    }
    .total__div {
        width: 85% !important;
    }
    .food__details {
        .fd__bg {
            overflow-x: hidden !important;
            left: 6%;
            width: 90%;
            height: 80%;

            .food__image {
                width: 605px;
                margin-top: 6px;
                margin-left: 16px;
            }
            .food__infos {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background-color: #f5f5f5;
                width: 100%;
                height: 60%;
                position: absolute;
                bottom: 0;
            }
            .food__counter {
                button {
                    width: 30px !important;
                    height: 30px !important;
                }
            }
            .add__to__cart {
                button {
                    width: 60px !important ;
                }
            }
            .sizes {
                button {
                    width: 97% !important;
                }
            }
        }
        span {
            position: absolute;
            top: 4%;
            right: 10% !important;
            font-size: 24px;
            color: white;
        }
    }
}

@media only screen and (max-width: 700px) {
    .contact__card {
        margin-left: 10px;
        height: 300px !important;
        width: 100% !important;
        margin-top: 20px;
        margin-right: 20px;
        p {
            font-size: 24px !important;
        }
        h5 {
            font-size: 26px !important;
        }
    }
    .favorite__title {
        font-size: 20px !important;
    }
}
@media only screen and (max-width: 576px) {
    .popup {
        height: 555px !important;
    }
    .card__main {
        align-items: center;
        .card {
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
    }
    .favorite__cards {
        width: 90% !important;
    }
    .tab__frame {
        width: 90% !important;
    }
    .popup {
        width: 90%;
        height: 65%;
    }
    .input1 input {
        width: 50%;
    }
    .food__image {
        width: 400px !important;
        margin-top: 12px;
        margin-left: 10px;
    }
    .hOQiSy {
        height: 30vh !important;
    }
    .epKbGN {
        top: 22% !important;
    }

    footer {
        padding: 0px 10px;
        .footer__nav {
            p {
                margin-right: 10px !important;
            }
        }
        .footer__socials {
            li {
                margin-left: 20px !important;
            }
        }
    }
    .container {
        padding: 0px 7px;
    }
    .card {
        margin-top: 16px !important;
        width: 330px !important;
        height: 530px !important;
        img {
            height: 100% !important;
        }
        .cart__icon {
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            left: 20px !important;
        }
    }

    .card__main {
        button {
            width: 295px !important;
            height: 47px !important;
        }
    }
    .contact__card {
        margin-left: 0px;
        height: 300px !important;
        width: 100% !important;
        margin-top: 20px;
        margin-right: 20px;
    }
    .favorite__card {
        img {
            margin: 12px !important;
        }
    }
}
@media only screen and (max-width: 415px) {
    .food__image {
        width: 325px !important;
        margin-top: 12px;
        margin-left: 10px !important;
    }
    .MuiBox-root button {
        margin-right: 5px !important;
    }
    .MuiBox-root button {
        margin-right: -9px !important;
    }
    .cart {
        img {
            width: 90px !important;
            height: 100%;
        }
    }
    .css-1vhircc {
        width: 96%;
    }
}
@media only screen and (max-width: 340px) {
    .card__main button {
        width: 275px !important;
    }
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

// .MuiBox-root button {
//     margin-right: 5px !important;
// }
// .MuiBox-root button {
// margin-right: -26px !important;
// }
