footer {
    bottom: 0;
    padding: 0 200px;
    background: #f0f0f0;
    margin-top: 50px;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    .footer__nav {
        display: flex;
        p {
            cursor: pointer;
            margin-right: 40px;
        }
    }
    .footer__socials {
        ul {
            display: flex;
            li {
                margin-left: 40px;
                border-radius: 50%;
                cursor: pointer;
                img {
                    border-radius: 50%;
                    width: 100%;
                    &:hover {
                        border-radius: 50%;
                        background-color: #cc0303;
                    }
                }
            }
        }
    }
}
